.divMeatRecipes {
    width: 100%;
    height: 88vh;
}

.divMeatRecipesWelcomeText {
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin: 0px 0px 60px 0px;
    padding-top: 180px;

    background-image: url(assets/pexels-gabriel-zachi-2151036855-31617225.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(10, 23, 55, 0.5);
}

.meatRecipesWelcomeText {
    width: 70%;
    font-family: "Outfit";
    padding: 30px;
    /* background-color: rgba(255, 255, 255, 0.884); */
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 20px;
}

.meatRecipesWelcomeTextH1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #84432f;
}

.meatRecipesWelcomeTextH3 {
    color: #84432f;
    font-size: 2rem;
    margin-bottom: 30px;
}

.meatRecipesWelcomeTextP {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.meatRecipesWelcomeTextBtn {
    font-size: 1.2rem;
    font-family: 'outfit';
    color: white;
    background-color: #84432f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    height: 40px;
    transition: transform 100ms ease-in-out;
}

.meatRecipesWelcomeTextBtn:hover {
    transform: scale(1.05)
}