.main{
    width: 100%;
    height: 88vh;
    background-color: blanchedalmond;
}

.divMainWelcome{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.divMainWelcomeText{
    width: 25%;
}

.divMainWelcomeText h1{
    font-size: 5rem;
    color: #84432f;
    font-family: 'outfit' serif;
    font-weight: bolder;
}

.divMainWelcomeText p{
    margin-top: 40px;
    font-family: 'Poppins';
}

.divWelcomeIMG{
    width: 75%;
}

.welcomeIMG{
    width: 100%;
    border-radius: 10px;
}

.exploreRecipes{
    font-size: 1.2rem;
    font-family: 'outfit';
    color: white;
    background-color: #84432f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    width: 300px;
    height: 40px;  

    margin-top: 40px;

    transition: transform 100ms ease-in-out;
}

.exploreRecipes:hover{
    transform: scale(1.05);
}



/*
.containerRecipes{
    width: 90%;
    padding: 60px 50px;   
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.containerRecipesInput{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon{
    width: 40px;
    height: 30px;
    color: #702e49;
    cursor: pointer;
    padding: 8px;
}

.searchIcon:hover{
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 5px;
}

.containerRecipesCategories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0px;
}

.btnRecipeCategory{
    width: 130px;
    height: 35px;
    background-color: #702e49;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Poppins";
    box-shadow: rgb(0, 0, 0) 0px 1px 3px;

    transition: transform 100ms ease-in-out;
}

.btnRecipeCategory:hover{
    transform: scale(1.05);
}

.btnRecipeCategoryActive{
    width: 130px;
    height: 35px;
    background-color: white;
    color: #702e49;
    border: 1px solid #702e49;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Poppins";
    box-shadow: rgb(0, 0, 0) 0px 1px 3px;

    transition: transform 100ms ease-in-out;
}

.btnRecipeCategoryActive:hover{
    transform: scale(1.05);
}

.containerRecipesInput input{
    height: 40px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #702e49;
    padding: 0px 0px 0px 20px;
    font-family: "poppins";
}

.divChooseRecipe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    font-family: 'poppins';
}

.divIndividualRecipe{
    width: 350px;
    background-color: white;
    color: #702e49;
    border-radius: 20px;
    cursor: pointer;
    /* border: 1px solid white; */
    box-shadow: rgb(0, 0, 0) 0px 1px 2px;

    transition: transform 100ms ease-in-out;
}

.divIndividualRecipe:hover{
    transform: scale(1.05);
}

.divIndividualRecipe a{
    text-decoration: none;
}

.divChooseRecipeIMG img{
    border-radius: 20px;
}

.divChooseRecipeDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.h2ChooseRecipeDetails{
    color: #702e49;
}

.pChooseRecipeDetails{
    color: #702e49;
}